__pycache__/*
**/__pycache__/**
vnv-urlshrt/*
coverage.xml
.coverage
**/.sonar/**
app/migrations/alembic.ini
app/migrations/env.py
app/migrations/README
app/migrations/script.py.mako
app/migrations/versions/77d8b7952db7_initial_commit.py
